@import '../../scss/variables';

.header{
  // max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  margin: 0 auto;
  border-bottom: 1px solid #EAEAEA;
  position: relative;
  background-color: #fff;
  z-index: 199;
  

  &__desctop {
    margin: 0 auto;
    padding: 0 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;

    &-logo {
      width: 102px;
      height: 32px;
    }

    & .header__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 689px;
      width: 100%;

      & .header__button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 18px 10px;
        background-color: $buttonBlue;
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
        border-radius: 100px;
        transition: all .3s;
        max-width: 120px;
        width: 100%;
        height: 40px;

        &:hover {
          background-color: $buttonBlueHover;
          transition: all .3s;
        }

        & svg {
          margin-left: 8px;
        }
      }

      & .header__navigation {
        max-width: 546px;
        width: 100%;
      }

      & .header__navigation .header__list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        &-item {
          color: #232323;
          font-size: 16px;
          font-weight: 500;
          transition: all .3s;

          &:hover {
            color: $buttonBlueHover;
            transition: all .3s;
          }
        }
      }
    }
  }

  &__mobile {
    display: none;
    position: relative;
    width: 100%;
    padding: 0 48px;
    z-index: 199;
    

    & .header__button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 13px;
      background-color: $buttonBlue;
      color: #FFF;
      font-size: 14px;
      font-weight: 500;
      border-radius: 100px;
      transition: all .3s;

      &:hover {
        background-color: $buttonBlueHover;
        transition: all .3s;
      }

      & svg {
        margin-left: 8px;
      }
    }

    .header__container {
      position: relative;
      .header__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // position: relative;

        .header__mobile-logo {
          margin-left: 10px;
        }

        
      }

    }


  }

  @keyframes openMenu {
    0% {
      max-width: 0%;
    }
    100% {
      max-width: 100%;
    }
  }

  @keyframes closeMenu {
    0% {
      max-width: 100%;
    }
    100% {
      max-width: 0%;
    }
  }

  .header__list-mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 64px;
    left: 0;
    z-index: 199;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 0px);
    background-color: #fff;
    padding: 24px 16px;
    // max-width: 0;
    animation-name: openMenu;
    animation-duration: .3s;
    animation-timing-function: linear;



    .header__list-item {
      background-color: #fff;
      color: #232323;
      font-size: 16px;
      font-weight: 600;
      padding: 16px 0;
      border-bottom: 1px solid #EAEAEA;

    }
  }
}

@media screen and (max-width: 900px) {
  .header__desctop {
    display: none;
  } 

  .header__mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;

    & .header__container {
      width: 100%;
    }
  } 

  .header__navigation .header__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 0 16px;
    width: 100%;
    background-color: #FAFAFA;
    display: none;

    &-item {
      padding: 16px;
      width: 100%;
      height: 100%;

      border-bottom: 1px solid #EAEAEA;

      &:last-child {
        border-bottom: none;
      }

      &-link {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        color: #232323;
      }
    }
  }

  // .openMenu:checked ~ .header__list {
  //   display: flex;
  // }

}