@import '../../scss/variables';

.header{
  // max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid #EAEAEA;

  

  &__desctop {
    margin: 0 auto;
    padding: 0 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;

    &-logo {
      width: 102px;
      height: 32px;
    }

    & .header__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 689px;
      width: 100%;

      & .header__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 13px;
        background-color: $buttonBlue;
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
        border-radius: 100px;
        transition: all .3s;

        &:hover {
          background-color: $buttonBlueHover;
          transition: all .3s;
        }

        & svg {
          margin-left: 8px;
        }
      }

      & .header__navigation {
        max-width: 546px;
        width: 100%;
      }

      & .header__navigation .header__list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        &-item {
          color: #232323;
          font-size: 16px;
          font-weight: 500;
          transition: all .3s;

          &:hover {
            color: $buttonBlueHover;
            transition: all .3s;
          }
        }
      }
    }
  }

  &__mobile {
    display: none;
    position: relative;
    width: 100%;
    padding: 0 48px;

    & .header__button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 13px;
      background-color: $buttonBlue;
      color: #FFF;
      font-size: 14px;
      font-weight: 500;
      border-radius: 100px;
      transition: all .3s;

      &:hover {
        background-color: $buttonBlueHover;
        transition: all .3s;
      }

      & svg {
        margin-left: 8px;
      }
    }

    .header__container {
      .header__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__mobile-logo {
          margin-left: 10px;
        }
      }
    }


    #amp-burger {
      width: 50px;
      height: 45px;
      cursor:pointer;
      position: relative;
    }
    
    #amp-burger div.lines, #amp-burger div.text  { padding-left : 10px; display:inline-block; }
    #amp-burger div.text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 50px;
      z-index: 100;
      opacity: 1;
      cursor: pointer;
      font-size: 24px;
      font-weight: 700;
      color: #232323;
    }
    #amp-burger div.lines input {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 10000;
      opacity: 0;
      cursor: pointer;
    }
    
    #amp-burger div.lines-icon {
      position: relative;
      width: 50px;
      height: 50px;
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
    }
    #amp-burger div.lines-icon .icon-left {
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
      position: absolute;
      height: 4px;
      width: 15px;
      top: 20px;
      background-color: #232323;
      visibility: hidden;
    }
    #amp-burger div.lines-icon .icon-left:before {
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
      position: absolute;
      width: 15px;
      height: 4px;
      background-color: #232323;
      content: "";
      top: -10px;
      visibility: visible;
    }
    #amp-burger div.lines-icon .icon-left:after {
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
      position: absolute;
      width: 15px;
      height: 4px;
      background-color: #232323;
      content: "";
      top: 10px;
      visibility: visible;
    }
    #amp-burger div.lines-icon .icon-left:hover {
      cursor: pointer;
    }
    #amp-burger div.lines-icon .icon-right {
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
      position: absolute;
      height: 4px;
      width: 15px;
      top: 20px;
      background-color: #232323;
      left: 15px;
      visibility: hidden;
    }
    #amp-burger div.lines-icon .icon-right:before {
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
      position: absolute;
      width: 15px;
      height: 4px;
      background-color: #232323;
      content: "";
      top: -10px;
      visibility: visible;
    }
    #amp-burger div.lines-icon .icon-right:after {
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
      position: absolute;
      width: 15px;
      height: 4px;
      background-color: #232323;
      content: "";
      top: 10px;
      visibility: visible;
    }
    
    
    #amp-burger input:checked + div.lines-icon .icon-left {
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
      background: transparent;
    }
    #amp-burger input:checked + div.lines-icon .icon-left:before {
      -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
              transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
    }
    #amp-burger input:checked + div.lines-icon .icon-left:after {
      -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
              transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
    }
    #amp-burger input:checked + div.lines-icon .icon-right {
      -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
      background: transparent;
    }
    #amp-burger input:checked + div.lines-icon .icon-right:before {
      -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
              transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
    }
    #amp-burger input:checked + div.lines-icon .icon-right:after {
      -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
              transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
    }
  }
}

@media screen and (max-width: 900px) {
  .header__desctop {
    display: none;
  } 

  .header__mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;

    & .header__container {
      width: 100%;
    }
  } 

  .header__navigation .header__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 0 16px;
    width: 100%;
    background-color: #FAFAFA;
    display: none;

    &-item {
      padding: 16px;
      width: 100%;
      height: 100%;

      border-bottom: 1px solid #EAEAEA;

      &:last-child {
        border-bottom: none;
      }

      &-link {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        color: #232323;
      }
    }
  }

  // .openMenu:checked ~ .header__list {
  //   display: flex;
  // }

}