.certificateOrPatents__list {
  display: flex;
  
  flex-wrap: wrap;
  gap: 30px;

  &-item {
    // margin-bottom: 32px;
    // margin-right: 10px;
    cursor: pointer;
    width: 244px;
    height: 296px;
    &-img {
      // max-width: 244px;
      // max-height: 296px;
      object-fit: fill;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1400px) {
  .certificateOrPatents__list {
    justify-content: center;
  }
}
